<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador - Mercado Incaico</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="container">
        <aside class="sidebar" id="menu" >
            <h2>Administrador</h2>
            <ul>
                <li><a th:href="@{/ventas}">Gestión de Ventas</a></li>
                <li><a th:href="@{/compras}">Gestión de Compras</a></li>
                <li><a th:href="@{/almacen}">Gestión de Almacén</a></li>
                <li><a th:href="@{/reclamos}">Gestión de Reclamos</a></li>
            </ul>
        </aside>
        <!--<main class="content">
            <header>
                <h1>Panel de Administración</h1>
            </header>
            
            <section id="login">
                <h2>Iniciar Sesión</h2>
                <form id="loginForm">
                    <label for="usuario">Usuario:</label>
                    <input type="text" id="usuario" required>
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" required>
                    <button type="submit">Ingresar</button>
                </form>
            </section>
        -->
            <section id="dashboard">
                <h2>Bienvenido, Administrador</h2>
                <p>Seleccione una opción del menú para gestionar el sistema.</p>
            </section>
            
            
        </main>
    </div>
    <footer>
        <p>&copy; 2025 MERCADO INCAICO. Todos los derechos reservados.</p>
    </footer>
  <!--<script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var usuario = document.getElementById('usuario').value;
            var password = document.getElementById('password').value;
            
            if (usuario === 'ADMIN' && password === 'ADMIN') {
                document.getElementById('login').style.display = 'none';
                document.getElementById('dashboard').style.display = 'block';
                document.getElementById('menu').style.display = 'block';
            } else {
                alert('Credenciales incorrectas');
            }
        });
    </script>-->
</body>
</html>
