<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Almacén - Mercado Incaico</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Administrador</h2>
            <ul>
                <li><a th:href="@{/ventas}">Gestión de Ventas</a></li>
                <li><a th:href="@{/compras}">Gestión de Compras</a></li>
                <li><a th:href="@{/almacen}">Gestión de Almacén</a></li>
                <li><a th:href="@{/reclamos}">Gestión de Reclamos</a></li>
            </ul>
        </aside>
        <main class="content">
            <header>
                <h1>Gestión de Almacén</h1>
            </header>
            <section>
                <h2>Administrar Inventario</h2>
                <p>Gestiona los productos almacenados.</p>
                <a th:href="@{/almacen/inventario}">Ver Inventario</a>
                <a th:href="@{/almacen/registrarProducto}">Registrar Producto</a>
                <a th:href="@{/almacen/categorias}">Lista categorias</a>
                <a th:href="@{/almacen/registrarCategoria}">Registrar categorias</a>
            </section>
        </main>
    </div>
    <footer>
        <p>&copy; 2025 MERCADO INCAICO. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
