<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gestión de inventario</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="">Mercado Incaico</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/admin}">Inicio</a></li>
			</ul>
		</div>
	</nav>


	<div class="container">
		<div class="row">
			<h1>Compras</h1>
		</div>
		<div class="row">
		   <div class="col-lg-3">
		     <a th:href="@{/compras/registrarCompra}" class="btn btn-primary btn-sm mb3">Registrar compra</a>
		   </div>
		</div>
		<br>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Codigo</th>
					<th>Proveedor</th>
					<th>Fecha</th>
					<th>Usuario</th>
                    <th>Estado</th>
                    <th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="compra : ${listaCompras}">
					<td th:text="${compra.id}"></td>
					<td th:text="${compra.proveedor.nombre}"></td>
					<td th:text="${compra.fecha}"></td>
					<td th:text="${compra.usuario.username}"></td>
                    <td th:text="${compra.estado}"></td>
                    <td th:text="${compra.total}"></td>
					<!--<td><a th:href="@{'/compras/proveedor/editar'+'/'+ ${proveedor.id}}"
						class="btn btn-info">Editar</a> &nbsp; <a
						th:href="@{'/compras/proveedor/eliminar'+ '/' + ${proveedor.id}}"
						class="btn btn-danger">Eliminar</a></td>-->
			</tbody>
		</table>
	</div>
  
</body>
</html>